<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Blog Posts</span>
      <h3 class="page-title">Add New Post</h3>
    </div>
  </div>
  <!-- End Page Header -->
  <div class="row">
    <div class="col-lg-9 col-md-12">
      <!-- Add New Post Form -->
      <div class="card card-small mb-3">
        <div class="card-body">
          <form class="add-new-post">
            <input class="form-control form-control-lg mb-3" type="text" placeholder="Your Post Title">
            <div class="ql-toolbar ql-snow">
              <span class="ql-formats">
                <span class="ql-header ql-picker">
                  <span tabindex="0" class="ql-picker-label" role="button" aria-expanded="false" aria-controls="ql-picker-options-0">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                      <polygon class="ql-stroke" points="7,11 9,13 11,11 7,11" />
                      <polygon class="ql-stroke" points="7,7 9,5 11,7 7,7" /> </svg>
                  </span><span tabindex="-1" class="ql-picker-options" id="ql-picker-options-0" aria-hidden="true">
                    <span tabindex="0" class="ql-picker-item" role="button" data-value="1"></span>
                    <span tabindex="0" class="ql-picker-item" role="button" data-value="2">

                    </span><span tabindex="0" class="ql-picker-item" role="button" data-value="3">
                    </span><span tabindex="0" class="ql-picker-item" role="button" data-value="4">

                    </span><span tabindex="0" class="ql-picker-item" role="button" data-value="5">

                    </span><span tabindex="0" class="ql-picker-item ql-selected" role="button">

                    </span></span></span><select class="ql-header" style="display: none;">
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3">

                  </option>
                  <option value="4"></option>
                  <option value="5">

                  </option>
                  <option selected="selected"></option>
                </select>
              </span><span class="ql-formats"><button class="ql-bold" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                    <path class="ql-stroke" d="M 5 4 H 9.5 A 2.5 2.5 0 0 1 12 6.5 v 0 A 2.5 2.5 0 0 1 9.5 9 H 5 A 0 0 0 0 1 5 9 V 4 A 0 0 0 0 1 5 4 Z" />
                    <path class="ql-stroke" d="M 5 9 h 5.5 A 2.5 2.5 0 0 1 13 11.5 v 0 A 2.5 2.5 0 0 1 10.5 14 H 5 a 0 0 0 0 1 0 0 V 9 A 0 0 0 0 1 5 9 Z" />
                  </svg></button><button class="ql-italic" type="button"><svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 18 18">
                    <line class="ql-stroke" x1="7" y1="4" x2="13" y2="4" />
                    <line class="ql-stroke" x1="5" y1="14" x2="11" y2="14" />
                    <line class="ql-stroke" x1="8" y1="14" x2="10" y2="4" /> </svg></button><button class="ql-underline"
                  type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                    <path class="ql-stroke" d="M 5 3 V 9 a 4.012 4.012 0 0 0 4 4 H 9 a 4.012 4.012 0 0 0 4 -4 V 3" />
                    <rect class="ql-fill" x="3" y="15" width="12" height="1" rx="0.5" ry="0.5" /> </svg></button><button
                  class="ql-strike" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                    <line class="ql-stroke ql-thin" x1="15.5" y1="8.5" x2="2.5" y2="9.5" />
                    <path class="ql-fill" d="M 9.007 8 C 6.542 7.791 6 7.519 6 6.5 C 6 5.792 7.283 5 9 5 c 1.571 0 2.765 0.679 2.969 1.309 a 1 1 0 0 0 1.9 -0.617 C 13.356 4.106 11.354 3 9 3 C 6.2 3 4 4.538 4 6.5 a 3.2 3.2 0 0 0 0.5 1.843 Z" />
                    <path class="ql-fill" d="M 8.984 10 C 11.457 10.208 12 10.479 12 11.5 c 0 0.708 -1.283 1.5 -3 1.5 c -1.571 0 -2.765 -0.679 -2.969 -1.309 a 1 1 0 1 0 -1.9 0.617 C 4.644 13.894 6.646 15 9 15 c 2.8 0 5 -1.538 5 -3.5 a 3.2 3.2 0 0 0 -0.5 -1.843 Z" />
                  </svg></button></span><span class="ql-formats"><button class="ql-blockquote" type="button"><svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 18 18">
                    <rect class="ql-fill ql-stroke" x="4" y="5" width="3" height="3" />
                    <rect class="ql-fill ql-stroke" x="11" y="5" width="3" height="3" />
                    <path class="ql-even ql-fill ql-stroke" d="M 7 8 c 0 4.031 -3 5 -3 5" />
                    <path class="ql-even ql-fill ql-stroke" d="M 14 8 c 0 4.031 -3 5 -3 5" /> </svg></button><button
                  class="ql-code-block" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                    <polyline class="ql-even ql-stroke" points="5,7 3,9 5,11" />
                    <polyline class="ql-even ql-stroke" points="13,7 15,9 13,11" />
                    <line class="ql-stroke" x1="10" y1="5" x2="8" y2="13" /> </svg></button></span><span class="ql-formats"><button
                  class="ql-header" type="button" value="1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                    <path class="ql-fill" d="M 10 4 V 14 a 1 1 0 0 1 -2 0 V 10 H 3 v 4 a 1 1 0 0 1 -2 0 V 4 A 1 1 0 0 1 3 4 V 8 H 8 V 4 a 1 1 0 0 1 2 0 Z m 6.06787 9.209 H 14.9897 V 7.59863 a 0.54085 0.54085 0 0 0 -0.605 -0.60547 h -0.62744 a 1.01119 1.01119 0 0 0 -0.748 0.29688 L 11.645 8.56641 a 0.5435 0.5435 0 0 0 -0.022 0.8584 l 0.28613 0.30762 a 0.53861 0.53861 0 0 0 0.84717 0.0332 l 0.09912 -0.08789 a 1.2137 1.2137 0 0 0 0.2417 -0.35254 h 0.02246 s -0.01123 0.30859 -0.01123 0.60547 V 13.209 H 12.041 a 0.54085 0.54085 0 0 0 -0.605 0.60547 v 0.43945 a 0.54085 0.54085 0 0 0 0.605 0.60547 h 4.02686 a 0.54085 0.54085 0 0 0 0.605 -0.60547 v -0.43945 A 0.54085 0.54085 0 0 0 16.0679 13.209 Z" />
                  </svg></button><button class="ql-header" type="button" value="2"><svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 18 18">
                    <path class="ql-fill" d="M 16.7397 13.8145 v 0.43945 a 0.54085 0.54085 0 0 1 -0.605 0.60547 H 11.855 a 0.58392 0.58392 0 0 1 -0.64893 -0.60547 V 14.0127 c 0 -2.90527 3.39941 -3.42187 3.39941 -4.55469 a 0.77675 0.77675 0 0 0 -0.84717 -0.78125 a 1.17684 1.17684 0 0 0 -0.83594 0.38477 c -0.2749 0.26367 -0.561 0.374 -0.85791 0.13184 l -0.4292 -0.34082 c -0.30811 -0.24219 -0.38525 -0.51758 -0.1543 -0.81445 a 2.97155 2.97155 0 0 1 2.45361 -1.17676 a 2.45393 2.45393 0 0 1 2.68408 2.40918 c 0 2.45312 -3.1792 2.92676 -3.27832 3.93848 h 2.79443 A 0.54085 0.54085 0 0 1 16.7397 13.8145 Z M 9 3 A 0.99974 0.99974 0 0 0 8 4 V 8 H 3 V 4 A 1 1 0 0 0 1 4 V 14 a 1 1 0 0 0 2 0 V 10 H 8 v 4 a 1 1 0 0 0 2 0 V 4 A 0.99974 0.99974 0 0 0 9 3 Z" />
                  </svg></button></span><span class="ql-formats"><button class="ql-list" type="button" value="ordered"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                    <line class="ql-stroke" x1="7" y1="4" x2="15" y2="4" />
                    <line class="ql-stroke" x1="7" y1="9" x2="15" y2="9" />
                    <line class="ql-stroke" x1="7" y1="14" x2="15" y2="14" />
                    <line class="ql-stroke ql-thin" x1="2.5" y1="5.5" x2="4.5" y2="5.5" />
                    <path class="ql-fill" d="M 3.5 6 A 0.5 0.5 0 0 1 3 5.5 V 3.085 l -0.276 0.138 A 0.5 0.5 0 0 1 2.053 3 c -0.124 -0.247 -0.023 -0.324 0.224 -0.447 l 1 -0.5 A 0.5 0.5 0 0 1 4 2.5 v 3 A 0.5 0.5 0 0 1 3.5 6 Z" />
                    <path class="ql-stroke ql-thin" d="M 4.5 10.5 h -2 c 0 -0.234 1.85 -1.076 1.85 -2.234 A 0.959 0.959 0 0 0 2.5 8.156" />
                    <path class="ql-stroke ql-thin" d="M 2.5 14.846 a 0.959 0.959 0 0 0 1.85 -0.109 A 0.7 0.7 0 0 0 3.75 14 a 0.688 0.688 0 0 0 0.6 -0.736 a 0.959 0.959 0 0 0 -1.85 -0.109" />
                  </svg></button><button class="ql-list" type="button" value="bullet"><svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 18 18">
                    <line class="ql-stroke" x1="6" y1="4" x2="15" y2="4" />
                    <line class="ql-stroke" x1="6" y1="9" x2="15" y2="9" />
                    <line class="ql-stroke" x1="6" y1="14" x2="15" y2="14" />
                    <line class="ql-stroke" x1="3" y1="4" x2="3" y2="4" />
                    <line class="ql-stroke" x1="3" y1="9" x2="3" y2="9" />
                    <line class="ql-stroke" x1="3" y1="14" x2="3" y2="14" /> </svg></button></span><span class="ql-formats"><button
                  class="ql-script" type="button" value="sub"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                    <path class="ql-fill" d="M 15.5 15 H 13.861 a 3.858 3.858 0 0 0 1.914 -2.975 a 1.8 1.8 0 0 0 -1.6 -1.751 A 1.921 1.921 0 0 0 12.021 11.7 a 0.50013 0.50013 0 1 0 0.957 0.291 h 0 a 0.914 0.914 0 0 1 1.053 -0.725 a 0.81 0.81 0 0 1 0.744 0.762 c 0 1.076 -1.16971 1.86982 -1.93971 2.43082 A 1.45639 1.45639 0 0 0 12 15.5 a 0.5 0.5 0 0 0 0.5 0.5 h 3 A 0.5 0.5 0 0 0 15.5 15 Z" />
                    <path class="ql-fill" d="M 9.65 5.241 a 1 1 0 0 0 -1.409 0.108 L 6 7.964 L 3.759 5.349 A 1 1 0 0 0 2.192 6.59178 Q 2.21541 6.6213 2.241 6.649 L 4.684 9.5 L 2.241 12.35 A 1 1 0 0 0 3.71 13.7072 q 0.02557 -0.02768 0.049 -0.05722 L 6 11.036 L 8.241 13.65 a 1 1 0 1 0 1.567 -1.24277 Q 9.78459 12.3777 9.759 12.35 L 7.316 9.5 L 9.759 6.651 A 1 1 0 0 0 9.65 5.241 Z" />
                  </svg></button><button class="ql-script" type="button" value="super"><svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 18 18">
                    <path class="ql-fill" d="M 15.5 7 H 13.861 a 4.015 4.015 0 0 0 1.914 -2.975 a 1.8 1.8 0 0 0 -1.6 -1.751 A 1.922 1.922 0 0 0 12.021 3.7 a 0.5 0.5 0 1 0 0.957 0.291 a 0.917 0.917 0 0 1 1.053 -0.725 a 0.81 0.81 0 0 1 0.744 0.762 c 0 1.077 -1.164 1.925 -1.934 2.486 A 1.423 1.423 0 0 0 12 7.5 a 0.5 0.5 0 0 0 0.5 0.5 h 3 A 0.5 0.5 0 0 0 15.5 7 Z" />
                    <path class="ql-fill" d="M 9.651 5.241 a 1 1 0 0 0 -1.41 0.108 L 6 7.964 L 3.759 5.349 a 1 1 0 1 0 -1.519 1.3 L 4.683 9.5 L 2.241 12.35 a 1 1 0 1 0 1.519 1.3 L 6 11.036 L 8.241 13.65 a 1 1 0 0 0 1.519 -1.3 L 7.317 9.5 L 9.759 6.651 A 1 1 0 0 0 9.651 5.241 Z" />
                  </svg></button></span><span class="ql-formats"><button class="ql-indent" type="button" value="-1"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                    <line class="ql-stroke" x1="3" y1="14" x2="15" y2="14" />
                    <line class="ql-stroke" x1="3" y1="4" x2="15" y2="4" />
                    <line class="ql-stroke" x1="9" y1="9" x2="15" y2="9" />
                    <polyline class="ql-stroke" points="5,7 5,11 3,9 5,7" /> </svg></button><button class="ql-indent"
                  type="button" value="+1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                    <line class="ql-stroke" x1="3" y1="14" x2="15" y2="14" />
                    <line class="ql-stroke" x1="3" y1="4" x2="15" y2="4" />
                    <line class="ql-stroke" x1="9" y1="9" x2="15" y2="9" />
                    <polyline class="ql-fill ql-stroke" points="3,7 3,11 5,9 3,7" /> </svg></button></span></div>
            <div class="add-new-post__editor mb-1 ql-container ql-snow" id="editor-container">
              <div class="ql-editor ql-blank" contenteditable="true" data-gramm="false" data-placeholder="Words can be like x-rays if you use them properly...">
                <p><br></p>
              </div>
              <div tabindex="-1" class="ql-clipboard" contenteditable="true"><br></div>
              <div class="ql-tooltip ql-hidden"><a class="ql-preview" href="about:blank" target="_blank"></a><input
                  type="text" data-video="Embed URL" data-link="https://quilljs.com" data-formula="e=mc^2"><a class="ql-action"></a><a
                  class="ql-remove"></a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- / Add New Post Form -->
    </div>
    <div class="col-lg-3 col-md-12">
      <!-- Post Overview -->
      <div class="card card-small mb-3">
        <div class="card-header border-bottom">
          <h6 class="m-0">Actions</h6>
        </div>
        <div class="card-body p-0">
          <ul class="list-group list-group-flush">
            <li class="list-group-item p-3">
              <span class="d-flex mb-2">
                <i class="material-icons mr-1">flag</i>
                <strong class="mr-1">Status:</strong> Draft
                <a class="ml-auto" href="#">Edit</a>
              </span>
              <span class="d-flex mb-2">
                <i class="material-icons mr-1">visibility</i>
                <strong class="mr-1">Visibility:</strong>
                <strong class="text-success">Public</strong>
                <a class="ml-auto" href="#">Edit</a>
              </span>
              <span class="d-flex mb-2">
                <i class="material-icons mr-1">calendar_today</i>
                <strong class="mr-1">Schedule:</strong> Now
                <a class="ml-auto" href="#">Edit</a>
              </span>
              <span class="d-flex">
                <i class="material-icons mr-1">score</i>
                <strong class="mr-1">Readability:</strong>
                <strong class="text-warning">Ok</strong>
              </span>
            </li>
            <li class="list-group-item d-flex px-3">
              <button class="btn btn-sm btn-outline-accent">
                <i class="material-icons">save</i> Save Draft</button>
              <button class="btn btn-sm btn-accent ml-auto">
                <i class="material-icons">file_copy</i> Publish</button>
            </li>
          </ul>
        </div>
      </div>
      <!-- / Post Overview -->
      <!-- Post Overview -->
      <div class="card card-small mb-3">
        <div class="card-header border-bottom">
          <h6 class="m-0">Categories</h6>
        </div>
        <div class="card-body p-0">
          <ul class="list-group list-group-flush">
            <li class="list-group-item px-3 pb-2">
              <div class="custom-control custom-checkbox mb-1">
                <input class="custom-control-input" id="category1" type="checkbox" checked="">
                <label class="custom-control-label" for="category1">Uncategorized</label>
              </div>
              <div class="custom-control custom-checkbox mb-1">
                <input class="custom-control-input" id="category2" type="checkbox" checked="">
                <label class="custom-control-label" for="category2">Design</label>
              </div>
              <div class="custom-control custom-checkbox mb-1">
                <input class="custom-control-input" id="category3" type="checkbox">
                <label class="custom-control-label" for="category3">Development</label>
              </div>
              <div class="custom-control custom-checkbox mb-1">
                <input class="custom-control-input" id="category4" type="checkbox">
                <label class="custom-control-label" for="category4">Writing</label>
              </div>
              <div class="custom-control custom-checkbox mb-1">
                <input class="custom-control-input" id="category5" type="checkbox">
                <label class="custom-control-label" for="category5">Books</label>
              </div>
            </li>
            <li class="list-group-item d-flex px-3">
              <div class="input-group">
                <input class="form-control" aria-describedby="basic-addon2" aria-label="Add new category" type="text"
                  placeholder="New category">
                <div class="input-group-append">
                  <button class="btn btn-white px-2" type="button">
                    <i class="material-icons">add</i>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- / Post Overview -->
    </div>
  </div>
</div>