<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Product</span>
      <h3 class="page-title">Add New Product</h3>
    </div>
  </div>
  <!-- End Page Header -->
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <!-- Add New Post Form -->
      <div class="card card-small mb-3">
        <div class="card-body">
          <form class="add-new-post">
            <input ng-model="Model.Name" class="form-control form-control-lg mb-3" type="text" placeholder="Name">
            <input ng-model="Model.Title" class="form-control form-control-lg mb-3" type="text" placeholder="Profile Title">
            <input ng-model="Model.ImageURL" class="form-control form-control-lg mb-3" type="text" placeholder="Profile Image">
            <textarea ng-model="Model.ShortDescription" class="form-control form-control-lg mb-3" type="text" placeholder="Short Description"></textarea>
            <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
            <form method="post" ng-controller="TinyMceController">
            </form>
            
            <div class="list-group-item d-flex">
              <div>
                  <button ng-click="SaveDraf(Model)" class="btn btn-sm btn-outline-accent">
                      <i class="material-icons">save</i> Save Draft</button>
                    <button ng-click="Publish(Model)" class="btn btn-sm btn-accent ml-auto">
                      <i class="material-icons">file_copy</i> Publish</button>
              </div>
             
            </li>
          </form>
        </div>
      </div>
      <!-- / Add New Post Form -->
    </div>
  
  </div>
  
</div>
