@page
  <script src="~/bower_components/angular/angular.js" asp-append-version="true"></script>
  <script src="~/bower_components/angular-ui-router/release/angular-ui-router.js" asp-append-version="true"></script>
   <script src="~/js/site.js" asp-append-version="true"></script>
   <script src="~/js/admin/admin.router.js" asp-append-version="true"></script>
    <script src="~/js/admin/admin.controller.js" asp-append-version="true"></script>
     <script src="~/js/admin/admin.service.js" asp-append-version="true"></script>
     <script src="~/js/main/main.router.js" asp-append-version="true"></script>
    <script src="~/js/main/main.controller.js" asp-append-version="true"></script>
     <script src="~/js/main/main.service.js" asp-append-version="true"></script>
  <div ng-app="app">
      <ui-view></ui-view>
  </div>